      <div class="modal fade" id="helpModal" tabindex="-1" role="dialog"
           aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="helpModalLabel">About</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Input Fortran code in the code editor area and hit the
              'Submit' button. Three examples are provided to get started. The
              first one is a toy program that demonstrates basic Fortran code
              idioms (main, subroutine, loops, conditionals). The second and
              third programs are implementations of two different models of
              calculating potential evapotranspiration, taken from 
              <a href="https://dssat.net">DSSAT</a>.
              <ul>
                <li>
                  <a
                    href="https://raw.githubusercontent.com/ml4ai/delphi/master/delphi/apps/CodeExplorer/static/example_programs/petPT.f">
                    PETPT: </a>
                  The Pristley-Taylor model of evapotranspiration.
                </li>
                <li>
                  <a 
                    href="https://raw.githubusercontent.com/ml4ai/delphi/master/delphi/apps/CodeExplorer/static/example_programs/PETASCE_simple.f">
                    PETASCE: 
                  </a> The ASCE standard evapotranspiration calculation method.
                </li>
              </ul>
              Things you can try doing:
              <ul>
                <li>
                  Click on the square nodes to view the equation that is
                  automatically constructed from the code, and typeset with
                  LaTeX., as well as the Python 'lambda' function that is
                  generated.
                </li>
                  <ul>
                    <li>
                      L: Literal value assigment (i.e. no inputs to the function)
                    </li>
                    <li>A: Assign nodes</li>
                    <li>C: Condition nodes</li>
                    <li>D: Decision nodes</li>
                  </ul>
                <li>
                  Click on the round nodes to view metadata about the
                  variable that has been extracted using NLP techniques from
                  the comments in the source code as well as scientific papers
                  about these models (note that the NLP results shown in this
                  demo are precomputed rather than running live.)
                </li>
                <li>Rename a variable in the code and resubmit it for processing
                  (make sure to rename all instances of it in the code!)
              </ul>
                <p>
              For more information, please visit the <a
                href="https://ml4ai.github.io/automates">AutoMATES project
                homepage.</a></p>
              AutoMATES is funded by the Defense Advanced Research Projects Agency
              (DARPA) under the Automated Scientific Knowledge Extraction (ASKE)
              program.
              <div class="row" style="padding-top: 2rem; margin-left: auto; margin-right: auto;">
                  <img src="static/ml4ai.png" alt="ML4AI" class="rounded"
                      style="max-height: 70px; width: auto; padding-right: 3rem; padding-left: 3rem;">
                  <img src="static/ua_logo.png" alt="University of Arizona" class="rounded"
                      style="max-height: 50px; width: auto;">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
