<!-- Modal to load a new document -->
<div class="modal fade" id="new-doc-modal" tabindex="-1" role="dialog" aria-labelledby="docModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="docModalLabel">Upload a new document</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id=doc-upload-form class="md-form">
          <div class="file-field">
            <div class="btn btn-outline-primary btn-sm float-left">
              <span>Choose file</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload a new PDF">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id=new-doc-submit class="btn btn-primary text-white">Load</a>
          </div>
        </form>
        <!-- <form>
          <div class="form-group">
            <label for="doc-upload">New PDF</label>
            <input type="file" class="form-control-file" id="doc-upload">
          </div>

        </form> -->
      </div>
    </div>
  </div>
</div>

<div id=model-load-modal class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="docModalLabel">Processing sources</h3>
          </div>
          <div class="modal-body">
            <div class="text-center text-primary">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
        </div>
    </div>
</div>
