<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">AutoMATES ModX</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a href="http://vanga.sista.arizona.edu/automates/" class="nav-link">Model Analysis</a>
      </li>
      <li class="nav-item active">
        <a id=model-comp-button href="#" class="nav-link">Model Comparison</a>
      </li>
    </ul>
  </div>
</nav>
