sympy
Keras
networkx
scikit-image
scipy
Theano
pygraphviz
mxnet
seaborn
matplotlib
torch
SQLAlchemy
dask
tangent
graphviz
tqdm
h5py
pandas
pygame
chainer
dyNET
autograd
numpy
nltk
scikit-learn
tensorflow
