<head>
  <meta charset="utf-8">
  <title>AutoMATES</title>

  <!-- LOADING JS LIBRARIES -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- CodeMirror files -->
  <script src="static/lib/codemirror/codemirror.js"></script>
  <script src="static/lib/codemirror/fortran.js"></script>
  <link rel="stylesheet" href="static/lib/codemirror/codemirror.css" />
  <link rel="stylesheet" href="static/lib/codemirror/monokai.css" />

  <!-- Cytoscape files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.4/dagre.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.2.2/cytoscape-dagre.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-expand-collapse@3.1.2/cytoscape-expand-collapse.min.js"></script>
  <script src="https://unpkg.com/popper.js"></script>
  <script src="static/lib/cytoscape/cytoscape-popper.js"></script>
  <script src="static/lib/cytoscape/cytoscape-panzoom.js"></script>
  <link rel="stylesheet" href="static/lib/cytoscape/cytoscape-panzoom.css" />

  <!-- Some things from Adarsh -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/addon/display/placeholder.js"></script>

  <!-- LOADING BOOTSTRAP CSS/JS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- LOADING CSS FILES -->
  <!-- <link rel="stylesheet" href="static/css/hyde.css">
  <link rel="stylesheet" href="static/css/poole.css"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/syntax.css">
  <link rel="stylesheet" href="static/css/tippy.css">

  <!-- LOADING FAVICON IMAGE -->
  <link rel="icon" type="image/png" href="{{url_for('static', filename='images/robot-face.png')}}">
</head>
