<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include "head.html" %}
<body>
  {% include "navbar.html" %}
  {% include "sidebar.html" %}

  <!-- Page content -->
  <div class="main">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li id=main-viewer-tabs class="nav-item">
        <a class="nav-link active" id="materials-tab" data-toggle="tab" href="#materials-pane" role="tab" aria-controls="materials-pane" aria-selected="true">Source Materials</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" id="grfn-tab" data-toggle="tab" href="#grfn-pane" role="tab" aria-controls="grfn-pane" aria-selected="false">Grounded Function Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cag-tab" data-toggle="tab" href="#cag-pane" role="tab" aria-controls="cag-pane" aria-selected="false">Causal Analysis Graph</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" id="grounding-table-tab" data-toggle="tab" href="#grounding-table-pane" role="tab" aria-controls="grounding-table-pane" aria-selected="false">Grounding Table</a>
      </li>
    </ul>
    <div class="tab-content" id="main-viewer-content">
      <div class="tab-pane fade show active" id="materials-pane" role="tabpanel" aria-labelledby="materials-tab">
        <div class="container">
          <div class="row">
            <div id=code-viewer class="col-6">
              <h3>Source Code</h3>
              <textarea id=code-viewer-area></textarea>
            </div>
            <div  class="col-6">
              <h3>Source Text</h3>
              <div id="document-viewer">

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="grfn-pane" role="tabpanel" aria-labelledby="grfn-tab">...</div>
      <div class="tab-pane fade" id="cag-pane" role="tabpanel" aria-labelledby="cag-tab">...</div> -->
      <div class="tab-pane fade" id="grounding-table-pane" role="tabpanel" aria-labelledby="grounding-table-tab">
        <div class="accordion" id="grounding-accordian"></div>
      </div>
    </div>
  </div>

  {% include "modals.html" %}
</body>
<script type="text/javascript" src="static/js/controller.js"></script>
</html>
