<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% if page.toc %}
        {{ page.title }}
      {% include toc.html html=content h_min=2 %}
      {% endif %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active {% endif %}" 
         href="{{ site.baseurl }}/documentation/reports/">Reports</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active {% endif %}" 
         href="{{ site.baseurl }}/team">Team</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active {% endif %}" 
         href="{{ site.baseurl }}/software">Software</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
