      <div class="col-lg-2" style="padding-right: 3rem;">
          Input Fortran code in the code editor area to the right and hit the
          'Submit' button. Two examples are provided to get started:
          <ul>
            <li>
              <a href="https://raw.githubusercontent.com/ml4ai/delphi/master/tests/data/crop_yield.f">crop_yield.f: </a>
              A toy example of a crop yield model that contains some important
              representative Fortran features for control flow like for-loops
              and conditional statements. 
            </li>
            <li>
              <a href="https://raw.githubusercontent.com/ml4ai/delphi/master/tests/data/PETPT.for">PETPT.for:</a>
              A 'real-world' example of a model - this is the Priestley-Taylor
              model of Potential Evapotranspiration, as implemented in the 
              <a href="https://dssat.net">DSSAT</a>
              crop model.
            </li>
          </ul>
          Things you can try doing:
          <ul>
            <li>Click on the __assign__ nodes to view the equation that is
              automatically constructed from the code, and typeset with LaTeX.</li>
            <li>Rename a variable in the code and resubmit it for processing
              (make sure to rename all instances of it in the code!)
          </ul>
            <p>
          For more information, please visit the AutoMATES project homepage at <a
            href="https://ml4ai.github.io/automates">ml4ai.github.io/automates.</a></p>
          AutoMATES is funded by the Defense Advanced Research Projects Agency
          (DARPA) under the Automated Scientific Knowledge Extraction (ASKE)
          program.
          <div class="row" style="padding-top: 2rem; margin-left: auto; margin-right: auto;">
              <img src="static/ml4ai.png" alt="ML4AI" class="rounded"
                  style="max-height: 70px; width: auto; padding-right: 3rem; padding-left: 3rem;">
              <img src="static/ua_logo.png" alt="University of Arizona" class="rounded"
                  style="max-height: 50px; width: auto;">
          </div>
      </div>

