<html>
  {% include "head.html" %}
  <body class="theme-base-08">
    <div class="container-fluid"> 
      <div class="row border-bottom" style="padding-top: 2rem; padding-left:4rem; padding-bottom: 1rem;">
        <h1>AutoMATES CodeExplorer: Model Comparison</h1>
      </div>
      <div class="row justify-content-md-center" style="padding-top: 1.5rem; padding-left:3rem; padding-right: 4rem;">
        <div id="model1" class="col-6 border" style="height:82%;">ASCE potential evapotranspiration model</div>
        <div id="model2" class="col-6 border" style="height:82%;">Priestley-Taylor potential evapotranspiration model</div>
      </div>
    </div>
      <script>
        var model1 = cytoscape({
          container: document.getElementById('model1'),
            elements: {{ model1_elementsJSON | safe }},
            style: [
                    { selector: 'node',
                      style: { 
                          'label': 'data(label)',
                          'shape': 'data(shape)',
                          'background-color': 'white',
                          'border-color': 'data(color)',
                          'border-width': '3pt',
                          'font-family': 'PT Sans, sans-serif',
                          'width':'label',
                          'text-valign': 'data(textValign)',
                          'padding': 15,
                      } 
                    }, { 
                      selector: 'edge',
                      style: { 
                        'curve-style' : 'bezier',
                        'target-arrow-shape': 'triangle',
                      } 
                    }, { 
                      selector: '.selectedNode',
                      style: { 
                        'background-color': '#d3d3d3',
                      } 
                    }
                ],
            layout: { name: 'dagre' , rankDir: 'TB'},
            maxZoom : 10,
            minZoom : 0.1,
            selectionType: 'single'
          });

        var model2 = cytoscape({
          container: document.getElementById('model2'),
            elements: {{ model2_elementsJSON | safe }},
            style: [
                    { selector: 'node',
                      style: { 
                          'label': 'data(label)',
                          'shape': 'data(shape)',
                          'background-color': 'white',
                          'border-color': 'data(color)',
                          'border-width': '3pt',
                          'font-family': 'PT Sans, sans-serif',
                          'width':'label',
                          'text-valign': 'data(textValign)',
                          'padding': 15,
                      } 
                    }, { 
                      selector: 'edge',
                      style: { 
                        'curve-style' : 'bezier',
                        'target-arrow-shape': 'triangle',
                      } 
                    }, { 
                      selector: '.selectedNode',
                      style: { 
                        'background-color': '#d3d3d3',
                      } 
                    }
                ],
            layout: { name: 'dagre' , rankDir: 'TB'},
            maxZoom : 10,
            minZoom : 0.1,
            selectionType: 'single'
          });

      </script>
  </body>
</html>
