      <div id="viewpane" class="col-lg-6">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="computational_graph-tab" data-toggle="tab" 
              href="#computational_graph" role="tab"
                                          aria-controls="computational_graph" 
              aria-selected="true">Function Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="causal_analysis_graph-tab" data-toggle="tab" 
              href="#causal_analysis_graph" role="tab"
                                            aria-controls="causal_analysis_graph" 
              aria-selected="true">Causal Analysis Graph</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="computational_graph" role="tabpanel" class="tab-pane show
                                                        active border-left
                                                        border-right
                                                        border-bottom"
            aria-labelledby="computational_graph-tab" style="height:82%;"></div>
          <div id="causal_analysis_graph" role="tabpanel" class="tab-pane
                                                          border-left
                                                          border-right
                                                          border-bottom"
            aria-labelledby="causal_analysis_graph-tab" style="height:82%;"></div>
        </div>
      </div>
