h1 {font-size: 2em; font-family: "PT Mono"; color: #ac4142; font-weight: normal;}
body {font-size: 0.85rem;font-family: "PT Sans"}
a {font-family: "PT Sans"; }

.btn-outline-primary {
  color: #ac4142;
  border-color: #ac4142;
  font-family: "PT Sans"; 
}

.btn-secondary {
  font-family: "PT Sans";
}

.MathJax .mi, .MathJax .mo {
    color: inherit;
}
