  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">


    <script src="static/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="static/codemirror/lib/codemirror.css" />
    <script src="static/codemirror/mode/fortran/fortran.js"></script>
    <link rel="stylesheet" href="static/codemirror/theme/monokai.css" />
    <link rel="stylesheet" href="static/cytoscape-panzoom.css" />
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">


    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/addon/display/placeholder.js"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      MathJax.Hub.Config({
        "HTML-CSS": {
          webFont: "STIX-Web",
          preferredFont: "STIX"
        }
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.4/dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.2.2/cytoscape-dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-expand-collapse@3.1.2/cytoscape-expand-collapse.min.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
	<script src="static/cytoscape-popper.js"></script>
	<script src="static/cytoscape-panzoom.js"></script>
	<script src="https://unpkg.com/tippy.js@2.0.9/dist/tippy.all.js"></script>
	<link rel="stylesheet" href="static/tippy.css" />
     <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>

    <style> .CodeMirror { 
        height: 82%;
        font-family: Fira Code, Menlo, Consolas, monospace;
        font-size: 0.7rem;
        border-style: solid;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 5px;
    } </style>

    <!-- CSS -->
    <link rel="stylesheet" href="static/syntax.css">
    <link rel="stylesheet" href="static/hyde.css">
    <link rel="stylesheet" href="static/style.css">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
