<html>
  {% include "head.html" %}
  <body class="theme-base-08">
    <div class="container-fluid">
      {% include "navbar.html" %}
      <div class="row justify-content-md-center"
           style="padding-top: 1.5rem; padding-left:3rem; padding-right: 4rem;">
      <div class="col-4">

        <form method="POST" action="{{ url_for('processCode') }}">
        <div class="row" style="padding-left: 15px; padding-right: 15px;">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Choose model
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a id="cropYield" class="dropdown-item" href="#">Crop Yield</a>
              <a id="petPT" class="dropdown-item" href="#">Priestley-Taylor model of Evapotranspiration (DSSAT)</a>
              <a id="petASCE" class="dropdown-item" href="#">ASCE model of Evapotranspiration (DSSAT)</a>
              <a id="SIR-simple" class="dropdown-item" href="#">Simple SIR model</a>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
            data-target="#helpModal" style="margin-left: auto;">
            Help
          </button>
        </div>
          <textarea id="flask-codemirror-source_code" name="source_code">
            {{ code | safe }}
          </textarea>
          <script> {% include "editor.js" %} </script>
          <br>
          <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm">
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div id="viewpane" class="col-8">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          {% set nav_dict = {
            'computational_graph': 'Function Network',
            'causal_analysis_graph': 'Causal Analysis Graph',
            'sensitivity_surface': 'Sensitivity Surface',
          } %}
          {% for id, label in nav_dict.items() %}
          <li class="nav-item">
            <a class="nav-link {% if id=='computational_graph' %}active{% endif %}"
               id="{{ id }}-tab" data-toggle="tab" href="#{{ id }}"
               role="tab" aria-controls="{{ id }}" aria-selected="true">
              {{ label }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for id in nav_dict %}
            <div id="{{ id }}" role="tabpanel"
                 class="tab-pane {% if id=='computational_graph' %}show active{% endif %}
                        border-left border-right border-bottom"
               aria-labelledby="{{ id }}-tab"
               style="height:82%; overflow: scroll;">
              {% if id=='sensitivity_surface' %}
                <div id="surfacePlot" class="justify-content-md-center"
                      style="padding-top: 1.5rem; "></div>
                <script>
                    var graphs = {{ graphJSON | safe }};
                    Plotly.plot('surfacePlot',graphs, {{ layout | safe }});
                </script>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <script> {% include "cyjs.js" %} </script>
      {% include "help.html" %}
  </body>
</html>
