vars: org/clulab/aske_automates/grammars/vars.yml

rules:


  ####VALUES####
  ###Possible improvement: many of these rules can potentially take both variables and concepts as their "variable" argument; to avoid writing a separate rule for each of the two cases, we can have one rule that has concept as a variable arg, but then apply an action which reassigns the label of the argument to "Identifier" if it passes the looksLikeAnIdentifier heuristic. This could increase the number of false positives, though, so for now we will just add concepts to rules strictly based on when they appear in literature (instead of using this action flow to all rules)

  - name: var-equals_value
    label: ParameterSetting
    priority: ${priority}
    type: dependency
    example: "EORATIO is defined as the maximum Kcs at LAI = 6.0"
    action: processParamSetting
    pattern: |
      trigger = [lemma='=']
      variable:Identifier = nsubj
      value:Value = dobj

  - name: var-equals_value2
    label: ParameterSetting
    priority: ${priority}
    type: dependency
    example: "EORATIO is defined as the maximum Kcs at LAI = 6.0"
    action: processParamSetting
    pattern: |
      trigger = [lemma='=']
      variable:Identifier = <amod
      value:Value = dep

  - name: var_equals_val
    label: ParameterSetting
    priority: ${priority}
    type: token
    example: "EORATIO is defined as the maximum Kcs at LAI = 6.0"
    action: processParamSetting
    pattern: |
      (@variable:Identifier|@variable:Phrase [!tag="CD"]) (?<trigger> [word="="]) @value:Value


    # this was specifically for a param settings described in latex; should not hurt
  - name: var_&equals_val
    label: ParameterSetting
    priority: ${priority}
    type: token
    example: ""
    action: processParamSetting
    pattern: |
      # @trigger:Phrase "=" @Value:Value
      (@variable:Identifier|@variable:Phrase) [word="&"] [word="="] @value:Value

  - name: var-vary_between
    label: IntervalParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSettingInt
    example: "The value of Kcbmax was varied between 0.9 and 1.4"
    pattern: |
      trigger = [lemma='vary']
      variable:Identifier = nsubjpass nmod_of
      valueLeastIncl:Value = nmod_between
      valueMostIncl:Value = nmod_between conj_and

  - name: var_ranges
    label: IntervalParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSettingInt
    example: "where KEP (typically ranging from 0.5 to 0.8) is defined as an energy extinction coefficient of the canopy for total solar irradiance"
    pattern: |
      trigger = [lemma='range']
      variable:Identifier = nsubj
      valueLeastIncl:Value = nmod_from
      valueMostIncl:Value = nmod_from nmod

#
  - name: var-vary_between_symbols_interval
    label: IntervalParameterSetting
    priority: ${priority}
    type: token
    action: processParamSettingInt
    example: "Kcbmax with the ETo-Kcb method had little influence on maize and cotton yield for 0.9 < Kcbmax < 1.15"
    pattern: |
      @valueLeastExcl:Value [word = "<"] (?<trigger> @Identifier) [word = "<"] @valueMostExcl:Value
#

  - name: var-more_than_symbol
    label: IntervalParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSettingInt
    example: "but simulated yield decreased rapidly for Kcbmax > 1.15 (fig. 6a)."
    pattern: |
      trigger = [lemma='>']
      variable:Phrase = <advmod <nummod | <amod compound? | <dep
      valueLeastExcl:Value = <advmod [tag = "CD"] | >nummod [tag = "CD"] | >dep [tag="CD"]


  - name: var-less_than_symbol
    label: IntervalParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSettingInt
    example: "but simulated yield decreased rapidly for Kcbmax < 1.15 (fig. 6a)."
    pattern: |
      trigger = [lemma='<']
      variable:Phrase = </dep|advmod/ <nummod? <dep | <advmod <nummod
      valueMostExcl:Value = </dep|advmod/ [tag = "CD"]

  - name: var_hard-coded
    label: ParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSetting
    example: "EORATIO for maize simulations was hard-coded to 1.0 within DSSAT-CSM."
    pattern: |
      trigger = [word=/(?i)^hard-coded/]
      variable:Phrase = nsubj
      value:Value = /nmod_to/


  - name: var_taken_as
    label: ParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSetting
    example: "The density of water (Ïw) is taken as 1.0 Mg m-3."
    pattern: |
      trigger = [word=/(?i)^taken/]
      variable:Identifier = nsubjpass nmod_of appos
      value:Value = nmod_as nummod
      #todo: combine with a different verb-trigger-based rule


  - name: var-noun_of_param
    label: IntervalParameterSetting
    priority: ${priority}
    type: token
    action: processParamSettingInt
    example: "If E and T data are unavailable, values of SKc from 0.5 to 0.7 are recommended."
    pattern: |
      (?<trigger> [lemma="value"]) of @variable:Identifier from @valueLeastIncl:Value to @valueMostIncl:Value


  - name: var-noun_of1
    label: ParameterSetting
    priority: ${priority}
    type: token
    action: processParamSetting
    example: "With an RMSE of 22.8%, drastic discrepancies were found in the comparison of Ref-ET ETo and ETpm from DSSAT-CSM version 4.5 for Arizona conditions."
    pattern: |
      /(?i)with/ (an|a|the) @variable:Identifier of @value:Value

  - name: var-noun_of2
    label: ParameterSetting
    priority: ${priority}
    action: processParamSetting
    example: "In 2014, the authors linked the problem to a misspecification of the equation used to adjust wind speed measurements to a standard height of 2.0 m"
    pattern: |
      trigger = [word = "standard" & tag = "JJ"]
      variable: Phrase = <amod <nmod_to dobj
      value: Phrase = <amod nmod_of nummod [entity = "NUMBER"]

  - name: var-DOY
    label: ParameterSetting
    priority: ${priority}
    type: token
    action: processParamSetting
    example: "As canopy cover increased with vegetative growth, the transpiration portion exceeded the evaporation portion of ET, beginning around DOY 165 for maize and DOY 175 for cotton."
    pattern: |
      (?<variable> [word = "DOY"]) @value:Value

  - name: adjust_to_setting
    label: ParameterSetting
    priority: ${priority}
    type: dependency
    action: processParamSetting
    example: "In 2014, the authors linked the problem to a misspecification of the equation used to adjust wind speed measurements to a standard height of 2.0 m"
    pattern: |
      trigger = [word=/(?i)adjust/]
      variable:Phrase = dobj
      value:Value = nmod_to nmod_of nummod

  # fixme: the 5-10 days is found as one token; this needs to be interval
  - name: of_param_setting
    label: ParameterSetting
    priority: ${priority}
    type: token
    example: "We expect the time T of 5-10 days"
    pattern: |
      @variable:Identifier [word="of"] @value:Value (?=@unit:Unit)
